<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <!--Root menu-->

    <menuitem id="linkup" name="Linkup" sequence="20" web_icon="linkup,static/description/icon.png" />

    <!--Sub menu-->

    <menuitem id="menu" name="Menu" sequence="1" parent="linkup" />

    <!--Child menu-->

    <menuitem
        id="linkup_membre"
        name="Linkup membre"
        action="linkup_membre_linkup_membre_action_window"
        sequence="1"
        parent="menu"
    />

    <menuitem
        id="linkup_review"
        name="Linkup review"
        action="linkup_review_linkup_review_action_window"
        sequence="2"
        parent="menu"
    />
</odoo>
